.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart {
    header {
        text-align: center;
        font: normal normal 600 48px/45px Source Serif Pro;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;

        img {
            height: 10px;
        }
    }
}

.cart-pricing {
    .pricing {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        text-align: left;
        font: normal normal normal 16px/24px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
}

.cart-block {
    box-shadow: 0px 0px 8px #0000000D;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;

    .imp-btn {
        background-size: cover;
        background-color: #f1f7ff;
        // background: transparent url('img/PP_BTN.png') 0% 0% no-repeat padding-box;
        opacity: 1;

        img {
            width: 100%;
        }
    }

    button {
        // padding-top: 5%;
        border: none;
        align-items: center;
        width: 247px;
        height: 40px;
        background: #1F39FF 0% 0% no-repeat padding-box;
        border-radius: 28px;
        opacity: 1;
    }

    h1 {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
}

.cart-img {
    img {
        width: 100%;
        height: 200px;
        filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
        border-radius: 1rem;
    }
}

.add-minus-icon {

    // padding-left: 30px;
    button {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    input {
        text-align: center;
        width: 88px;
        height: 40px;
        border: 2px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;
    }
}

.ear-button {

    // padding-left: 30px;
    button {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }
}

.cart-section {
    padding-top: 3%;
}

.payment-section {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;

    .shiping-section {
        select {
            border: none;
            text-transform: none;
        }

        display: flex;
        padding-top: 2%;
        justify-content: space-between;
    }
}

.cart-list {
    ul{
        li {
            text-align: left;
            list-style-type: none;
            font: normal normal normal 20px/25px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
        }
    }
  
}
.cart-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    .chekout{
        margin: 2%;
    }
    .paypal{
        margin: 2%;
    }
}
.corosal{
    display: flex;
    align-items: center;
    padding-top: 2%;
}
.arrow{
    img{
        height: 100px;
    }
}
@media (max-width: 998px) {
    .add-minus-icon{
        padding: 5%;
    }
}