.sort-option {
    h2 {
        text-align: left;
        font: normal normal normal 20px/14px Muli;
        letter-spacing: 0px;
        color: #181C24;
        opacity: 1;
    }
}

.chekboxes {
    h4 {
        text-align: left;
        font: normal normal 600 16px/24px Muli;
        letter-spacing: 0px;
        color: #181C24;
        opacity: 1;
    }

    label {
        input {
            border: 2px solid var(--gray-m1);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #91959C;
            opacity: 1;
        }
    }
}
.color-box {
    .row1 {
        display: inline-flex;
    }

    .row2 {
        display: inline-flex;
    }

    .row3 {
        display: inline-flex;
    }

    .R1 {
        width: 64px;
        height: 40px;
        background: #172026 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
    }

    .R2 {
        width: 64px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #DFE1E2;
        border-radius: 6px;
        opacity: 1;
    }

    .R3 {
        width: 64px;
        height: 40px;
        background: #2D9D78 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;

    }

    .R4 {
        width: 64px;
        height: 40px;
        background: #FDBA5E 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;

    }

    .R5 {
        width: 64px;
        height: 40px;
        border: 2px solid #FFFFFF;
        background: #4F5ADA;
        border-radius: 4px;
        opacity: 1;

    }

    .R6 {
        width: 64px;
        height: 40px;
        background: #E34850 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;

    }

    .R7 {
        width: 64px;
        height: 40px;
        background: #6408D3 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
    }

    .R8 {
        width: 64px;
        height: 40px;
        background: #F9009A 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
    }

    .R9 {
        width: 64px;
        height: 40px;
        background: #EB7327 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
    }

    .R10 {
        width: 64px;
        height: 40px;
        background: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
    }
}