.banner-products {
    height: 486px;

    .active {
        width: 70%;
        height: 280px;
    }
}

.filtertion {
    h1 {
        text-align: left;
        font: normal normal normal 16px/24px Muli;
        letter-spacing: 0px;
        opacity: 1;
    }
}

.filter {
    h2 {
        text-align: left;
        font: normal normal normal 20px/14px Muli;
        letter-spacing: 0px;
        color: #181C24;
        opacity: 1;
    }
    label{
        text-align: left;
        font: normal normal normal 20px/14px Muli;
        letter-spacing: 0px;
        color: #181C24;
        opacity: 1;
    }
}

.paginate {
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style-type: none;
            padding-left: 5%;
            button {
                border: none;
            }
        }
    }
}

.filter-banner {
    display: flex;
    flex-wrap: wrap;

    p {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;

        span {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            opacity: 1;
        }
    }
}

.drop-down {
    select {
        width: 254px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;
    }
}

.filter-result {
    text-align: center;

    ul {
        display: flex;
        text-decoration: underline;

        li {
            button {
                background: none;
                border: none;
            }

            list-style-type: none;
            padding: 10px;
        }
    }

    li {
        list-style-type: none;
    }
}

@media (min-width:600px) {
    .filter-result {
        display: none;
    }
}

@media (max-width : 998px) {
    .page-function {
        display: none;
    }
}

@media (min-width:600px) {
    .mobile-sidebar {
        display: none;
    }
}
.listed-products{
   text-align: center;
}
